<h1>Lista de todos lo usuarios</h1>

{{#each users}}

  <div class="card">
    <h3>{{this.name}} {{this.lastName}}</h3>
    <ul>  
      <li>
        Edad: {{this.age}}
      </li>
      <li>
        Direccion: {{this.address}}
      </li>
    </ul>
  </div>
{{/each}}
